p {
    margin-bottom: 0rem;
}

.full-width {
    width: 100%;
}

textarea {
    min-height: 10rem;
}


.accent-color {
    color: #9e110e;

}

.mt-50 {
  margin-top: 50px;
}


.mb-50 {
  margin-bottom: 50px;
}

.remove-padding {
    padding: 0px;
}

mat-form-field {
    color: white;
  }

  form-border-bottom {
      border-bottom: 1px solid white!important;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: pink;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: pink;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: pink;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: pink;
  }

  ::-moz-placeholder {
    opacity: 1;
  }

//   .mat-form-field-label {
//     font-size: 0.8em!important;
//   }

//   input {
//     font-size: 0.8em;
// }

// input::placeholder { font-size: XXem; } 


// ::ng-deep .mat-form-field {
//   .mat-input-element {
//       color: slategray;
//   }
//   .mat-form-field- {
//       color: slategray;
//   }
//   .mat-form-field-underline {
//       background-color: slategray;
//   }
//   .mat-form-field-ripple {
//       background-color: slategray;
//   }
//   .mat-form-field-required-marker {
//       color: slategray;
//   }

::ng-deep .mat-form-field-placeholder{

  color: red!important;;
  font-size: 10px;
}
.mat-input-element::placeholder{
  color: red;
}

.placeholder {
  font-size:0.9rem;
  opacity: 0.8;
}