<div class="row">
  <h3 class="accent-color font-extrabold">За нас</h3>

  <mat-card style="border-top: 3px solid #8d7e77;" class="">
    <mat-card-content>
      <div class="row">
        <div class="col-md-10">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, alias illo aut tenetur expedita vel facere,
            doloremque aliquam facilis voluptas adipisci corrupti debitis, dolorum quidem officiis?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
        </div>

        <div class="col-md-2 ">
          <!-- <img src="../../../assets/images/logo1.png" width="100%"> -->
          <h2 class="capitalize mt-50">Marjan-S</h2>
        </div>


      </div>
    </mat-card-content>


  </mat-card>
</div>

<div class="row mt-50">
  <mat-card style="background-color: transparent; box-shadow: none;">
    <mat-card-content>
      <div class="row">

        <div class="col-md-2 ">
          <img src="../../../assets/images/logo1.png" width="100%">
        </div>
        <div class="col-md-10">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, alias illo aut tenetur expedita vel facere,
            doloremque aliquam facilis voluptas adipisci corrupti debitis, dolorum quidem officiis?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
        </div>


      </div>
    </mat-card-content>


  </mat-card>
</div>


<div class="row mt-5">
  <mat-card class=" beige-color">
    <!-- <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Сигурност и безбедност</h2> -->
    <mat-card-header class="font-extrabold">Сигурност и безбедност</mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-md-10">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, alias illo aut tenetur expedita vel facere,
            doloremque aliquam facilis voluptas adipisci corrupti debitis, dolorum quidem officiis?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
        </div>

        <div class="col-md-2 ">
          <img src="../../../assets/images/logo2.png" width="100%">
        </div>
      </div>
    </mat-card-content>


  </mat-card>
</div>



<!-- <div class="row mt-5 mb-5">
  <div class="col-12 col-md-10 text-right">
    <h2>Стоилков Продукт<i class="fab fa-react react-color d-md-none"></i> </h2>
    <p>Veritatis hic iusto aperiam vel vitae quia ipsa cum porro assumenda veniam commodi sit, consequatur autem quos
      nesciunt, quasi omnis iure eligendi suscipit repellendus! Odio, voluptas?</p>
    <p>Pariatur, optio. Aut iusto architecto accusantium repellat perspiciatis quidem, unde laudantium blanditiis iure
      omnis. Deserunt tempore possimus minus accusantium, ad eos!</p>
  </div>
  <div class="col-2 text-center logo-1">
  </div>
</div> -->