<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-ambulance accent-color fa-2x"></i>
        <mat-card-title>Превоз</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident explicabo necessitatibus animi? Aperiam,
          at earum?</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-file accent-color fa-2x"></i>
        <mat-card-title>Подготовка на документи</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident explicabo necessitatibus animi? Aperiam,
          at earum?</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="skill-block">
      <mat-card-header>
        <i mat-card-avatar class="fa fa-globe accent-color fa-2x"></i>
        <!-- <img src="../../../assets/images/logo-car.png" alt="Nature" class="responsive"> -->

        <mat-card-title>Вршење погреб во сите градови на Македонија</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row">
  <div class="col-12">
    <h3>За нас</h3>
    <p>Почетоците на нашата фирма „Лукас Продукт“ формирана во Струмица датира уште од 1994 година, но како Марјан-С. </p>
      
    <p>  Првично почнавме како фирма која врши погребни услуги само во регионот (Струмица и струмичко), а бидејќи се работи за семеен бизнис почнавме да изработуваме погребна опрема само за потребите на нашата фирма.
      После неколку години, со голем труд, макотрпна работа, маки, препреки и желба за поголем успех, отворивме мал погон и нова фирма „Стоилков Продукт“ само за изработка на погребна опрема. Фирмата почна со 3-4 вработени лица и изработувавме погребна опрема за неколку погребни служби во Р.С.Македонија, бидејќи во тој момент толку ни дозволуваа условите во кои работевме, но постепено се примаа работници, се надополнувавме со нови машини и алати за работа. Производството почна постепено да се зголемува, погребните служби за кој почнавме да изработуваме погребна опрема од преголемо задоволство на квалитетната изработка и од нашиот коректен однос, со пофални зборови не препорачуваа и низ други погребни служби во државата со што сега можеме не себично да кажеме дека за поголем дел од пазарот во Р.С.Македонија изработуваме погребна опрема.
      
    </p>
     
      <p>
      Сега како фирма „Лукас Продукт“ која има сопствено производство на погребна опрема и свои нови современи климатизирани возила, врши транспорт на починати лица во и надвор од државата, со професионален тим кој има долгогодишно искуство во работата.
      Во тие тешки моменти кога ВИЕ не знаете што се ви е потребно за да ја испратите вашата драга личност во своето вечно почивалиште, ние сме тука во секое време, 24 часа дневно да ви помогнеме професионално да го извршиме тој немил настан од настапување на смртта па се до закоп.
    </p>
  </div>
  <!-- <div class="col-12 col-sm-6 col-md-4">
    <div class="mb-3">
      <strong>HTML5 & CSS3</strong>
      <span class="float-right">100%</span>
      <mat-progress-bar value="100"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>BOOTSTRAP</strong>
      <span class="float-right">80%</span>
      <mat-progress-bar value="80" color="accent"></mat-progress-bar>
    </div>
    <div class="mb-3">
      <strong>UX Design</strong>
      <span class="float-right">70%</span>
      <mat-progress-bar value="70" color="warn"></mat-progress-bar>
    </div>
  </div> -->
</div>

<div class="row mt-5">
  <div class="col-2 text-center logo-2">
    <!-- <i class="fab fa-angular fa-10x angular-color d-none d-md-block"></i> -->
  </div>
  <div class="col-12 col-md-10">
    <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Лукас Продукт</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, alias illo aut tenetur expedita vel facere,
      doloremque aliquam facilis voluptas adipisci corrupti debitis, dolorum quidem officiis?</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a earum
      dolorem odio fugiat minima iste.</p>
    <!-- <button [routerLink]="['/portfolio']" [queryParams]="{filter:'Angular'}" mat-stroked-button>View More</button> -->
  </div>
</div>



<div class="row mt-5 mb-5">
  <div class="col-12 col-md-10 text-right">
    <h2>Стоилков Продукт<i class="fab fa-react react-color d-md-none"></i> </h2>
    <p>Veritatis hic iusto aperiam vel vitae quia ipsa cum porro assumenda veniam commodi sit, consequatur autem quos
      nesciunt, quasi omnis iure eligendi suscipit repellendus! Odio, voluptas?</p>
    <p>Pariatur, optio. Aut iusto architecto accusantium repellat perspiciatis quidem, unde laudantium blanditiis iure
      omnis. Deserunt tempore possimus minus accusantium, ad eos!</p>
    <!-- <button [routerLink]="['/portfolio']" [queryParams]="{filter:'React'}" mat-stroked-button>View More</button> -->
  </div>
  <div class="col-2 text-center logo-1">
    <!-- <i class="fab fa-react fa-10x react-color d-none d-md-block"></i> -->
  </div>
</div>
<!-- <div class="row mt-5">
  <div class="col-3 text-center">
    <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>
  </div>
  <div class="col-12 col-md-9">
    <h2><i class="fab fa-vuejs vue-color d-md-none mr-2"></i>Vue Development</h2>
    <p>Inventore suscipit ut error labore nemo! Expedita architecto, consequatur voluptas eius exercitationem mollitia
      labore officia totam enim, quo fugiat dicta magnam voluptate pariatur dolores! Deserunt, ullam!</p>
    <p>Magni, est. Alias asperiores, quasi, animi, iure corrupti consectetur modi fugit minima totam porro tenetur
      excepturi. Delectus rerum accusamus impedit voluptate?</p>
    <button  [routerLink]="['/portfolio']" [queryParams]="{filter:'Vue'}" mat-stroked-button>View More</button>
  </div>
</div> -->
<!-- 
<div class="portfolio-preview">
  <div class="row no-gutters">
    <div class="col-12">
      <h2>Recent Apps</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quia reiciendis molestiae sequi aliquam ex
        officiis vero illum, eaque quos numquam?</p>
    </div>
  </div>
  <div class="row no-gutters">
    <div *ngFor="let item of recentProjects;index as i"
         [ngClass]="{'col-12 col-sm-4 col-md-4': i < 3, 'col-12 col-sm-6 col-md-3': i >= 3 }">
      <img class="img-fluid" [src]="item.preview + '?text=' + item.name" [alt]="item.name">
    </div>

    <div class="col-12 mt-3">
      <button [routerLink]="['/portfolio']" mat-stroked-button>View More</button>
    </div>
  </div>
</div> -->
