<div class="row">
  <div class="col-12 col-md-4">
    <mat-card class="">
      <mat-card-header>
        <div class="row">

          <div class="col-md-3 ">
            <img src="../../../assets/images/car-logo.png" class="img-width">
          </div>
          <div class="col-md-9 mt-2 pl-0">
            <!-- <i mat-card-avatar class="fa fa-ambulance accent-color fa-2x"></i> -->
            <span><b>Превоз</b></span>
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
          elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="">
      <mat-card-header>

        <div class="row">
          <!-- <i mat-card-avatar class="fa fa-file accent-color fa-2x"></i> -->
          <div class="col-md-3 ">
            <img src="../../../assets/images/folder-logo.png" class="img-width">
          </div>
          <div class="col-md-9 mt-2 pl-0">
           <b>Подготовка на документи</b> 
          </div>
        </div>
      </mat-card-header>
      <mat-card-content class="mt-3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
          elit.Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="">
      <mat-card-header>
     <mat-card-title>
        <div class="row">
          <!-- <i mat-card-avatar class="fa fa-file accent-color fa-2x"></i> -->
          <div class="col-md-3 ">

            <img src="../../../assets/images/cross-logo.png" class="img-width">
          </div>
          <div class="col-md-9 pl-0">
            <b> Вршење погреб во сите градови на Македонија
            </b>
          </div>
        </div>
      </mat-card-title>
      </mat-card-header>
      <mat-card-content class="mt-1">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
          elit.Lorem ipsum dolor sit amet consectetur </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<mat-divider class="my-3"></mat-divider>

<div class="row mt-50">
  <img src="../../../assets/images/logo1.png" class="text-center" width="20%">

</div>



<div class="row mt-50">
  <div class="col-10 offset-1">
    <mat-card>
      <mat-card-header>
        <h3>За нас</h3>
      </mat-card-header>
      <mat-card-content>

        <p>Почетоците на нашата фирма „Лукас Продукт“ формирана во Струмица датира уште од 1994 година, но како
          Марјан-С.
        </p>

        <p> Првично почнавме како фирма која врши погребни услуги само во регионот (Струмица и струмичко), а бидејќи се
          работи за семеен бизнис почнавме да изработуваме погребна опрема само за потребите на нашата фирма.
          После неколку години, со голем труд, макотрпна работа, маки, препреки и желба за поголем успех, отворивме мал
          погон и нова фирма „Стоилков Продукт“ само за изработка на погребна опрема. Фирмата почна со 3-4 вработени
          лица и
          изработувавме погребна опрема за неколку погребни служби во Р.С.Македонија, бидејќи во тој момент толку ни
          дозволуваа условите во кои работевме, но постепено се примаа работници, се надополнувавме со нови машини и
          алати
          за работа. Производството почна постепено да се зголемува, погребните служби за кој почнавме да изработуваме
          погребна опрема од преголемо задоволство на квалитетната изработка и од нашиот коректен однос, со пофални
          зборови
          не препорачуваа и низ други погребни служби во државата со што сега можеме не себично да кажеме дека за
          поголем
          дел од пазарот во Р.С.Македонија изработуваме погребна опрема.

        </p>

        <p>
          Сега како фирма „Лукас Продукт“ која има сопствено производство на погребна опрема и свои нови современи
          климатизирани возила, врши транспорт на починати лица во и надвор од државата, со професионален тим кој има
          долгогодишно искуство во работата.
          Во тие тешки моменти кога ВИЕ не знаете што се ви е потребно за да ја испратите вашата драга личност во своето
          вечно почивалиште, ние сме тука во секое време, 24 часа дневно да ви помогнеме професионално да го извршиме
          тој
          немил настан од настапување на смртта па се до закоп.
        </p>
      </mat-card-content>

    </mat-card>
  </div>

</div>



<div class="col-12 mb-5 mt-50 mb-50">
  <mat-card class="skill-block beige-color">
    <mat-card-content>
      <div class="row mt-5 mb-5">

        <div class="col-2 col-md-3 text-center">
          <i class="fab fa-vuejs fa-10x vue-color d-none d-md-block"></i>

        </div>
        <div class="col-12 col-md-9">
          <h2><i class="fab fa-angular angular-color d-md-none mr-2"></i>Owner</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. At, alias illo aut tenetur expedita vel facere,
            doloremque aliquam facilis voluptas adipisci corrupti debitis, dolorum quidem officiis?</p>
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non dicta sunt, magni voluptate distinctio, a
            earum
            dolorem odio fugiat minima iste.</p>
          <!-- <button [routerLink]="['/portfolio']" [queryParams]="{filter:'Angular'}" mat-stroked-button>View More</button> -->
        </div>
      </div>

    </mat-card-content>
  </mat-card>
</div>

<div class="row mt-50 mb-50">
  <div class="col-12 col-md-4">
    <mat-card class="light-beige-color">
      <mat-card-header>
        <mat-card-title><span><b class="uppercase font-extrabold">Our</b></span>&nbsp;<span class="accent-color"><b
              class="uppercase font-extrabold">Services</b></span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
          elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="light-beige-color">
      <mat-card-header>
        <mat-card-title><span><b class="uppercase font-extrabold">Why</b></span>&nbsp;<span class="accent-color"><b
              class="uppercase font-extrabold">us</b></span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
          elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-12 col-md-4">
    <mat-card class="light-beige-color">
      <mat-card-header>
        <mat-card-title><span><b class="uppercase font-extrabold">Our</b></span>&nbsp;<span class="accent-color"><b
              class="uppercase font-extrabold">care</b></span></mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.Lorem ipsum dolor sit amet consectetur adipisicing
          elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>


<!-- <mat-divider class="my-3 "></mat-divider> -->