<div class="site">
  <div class="site-content">
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark">
        <div class="navbar-nav">
          <a class="nav-item nav-link" [routerLink]="['/home']" routerLinkActive="active"><i
              class="d-none d-sm-inline-block fas fa-home mx-1"></i> Дома </a>
          <a class="nav-item nav-link" [routerLink]="['/portfolio']" routerLinkActive="active"><i
              class="d-none d-sm-inline-block fas fa-images mx-1"></i> Сервиси</a>
          <a class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="active"><i
              class="d-none d-sm-inline-block fas fa-envelope mx-1"></i>Контакт</a>
        </div>
      </nav>
    </div>
    <div class="header">
      <div class="container mt-90">
        <h1 class="font-bold font-white resize">Интернационален погребен</h1>
        <div class="font-extrabold font-red resize">транспорт</div>

      </div>
    </div>
    <main class="main-content container">
      <router-outlet></router-outlet>
    </main>
  </div>
  <footer class="footer container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <ul class="social-icons  mt-3">
          <div class="row">
            <li><a class="fab fa-facebook"></a></li>
            <li>facebook.com/test</li>

          </div>
          <div class="row">
            <li><a class="fas fa-phone"></a></li>
             <li>0734394839</li>
          </div>
          <div class="row">
            <li><a class="fas fa-envelope"></a></li>
            <li>mail@gmail.com</li>
          </div>
        </ul>
      </div>
      <div class="col-12 col-sm-6">
        <!-- <p>Copyright © 2019 Fares Stita</p> -->
        <div class="row pull-right">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        </div>
      </div>

    </div>
  </footer>
</div>